<div></div>
<label>Task:</label>
<input type="text" name="title"

<% if (locals.task !=null) { %>
value="<%=task.title%>"
<% } %>
>
</div>
<div>
<label>Description</label>
<input type="text" name="description"
<% if (locals.task !=null) { %>
value="<%=task.desciption%>">
<% } %>
>
</div>
<div>
<label>Date</label>
<input type="date" name="date"
value="<%=task.date==null ? '' : task.date.toISOString().split(T)[0]%>">
</div>