body of index
'index page -welcome => login to use sign up'
<ul>
    <li><a href = "/user/login">log in</a></li>
    <li><a href = "/user/register">register</a></li>
    <button>log out</button>
</ul>