* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* Header Style */
.header {
	background-color: #ebebeb;
	padding: 30px;
	text-align: center;
	font-size: 35px;
}

/* side bar for add item, etc */
.sidenav {
	height: 600px;
	width: 100px;
	position: fixed;
	z-index: 1;
	right: 0;
	top: 30%;
	overflow-x: hidden;
}

/* side bar element style */
.sidenav a {
	color: red;
	padding: 16px;
	text-decoration: none;
	display: block;
}

/* sidenav item action when hovering over */
.sidenav a:hover {
	color: blue;
}

/* style for elements inserted in page */
.content {
	margin-left: 50px;
	padding-left: 20px;
}

/* style footer */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #ebebeb;
	padding: 10px;
	text-align: center;
}
