<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
</head>
<body>
    <h1>ToDoApp</h1>
    
    <%- include ('../partials/errorMessage.ejs') %>
    <%- body%>
    
    <div class="footer">
        <p> CSCE 3444 - Group 1 </p>
    </div>
</body>
</html>