<label>Name</label>
<input type="text" name="name" value=<%=locals.user.name%>>
<label>Email</label>
<input type="text" name="email" value=<%=locals.user.email%>>
<label>Password</label>
<input type="text" name="password" value=<%=locals.user.password%>>