<h2>log in</h2>
<form action ="/user/login" method="POST" >
    <label>Email</label>
    <input type="text" name="email" value=<%=user.email%>>
    <label>Password</label>
    <input type="text" name="password" value=<%=user.password%>>
    <a href = "/">Cancel</a>
    <a href = "/user/register">Register</a>
<button type="submit"> Log in</button>
</form>