<h2>register</h2>
<form action ="/user/register_" method="POST" >
    <%-include('_form_fields')%>
<a href = "/">Cancel</a>
<a href = "/user/login">Log in</a>
<button type="submit"> Sign up</button>
</form>